<nav class="main-navbar shadow-md">
  <div class="container navbar-container">
    <div class="navbar-brand">
      <a href="{{ url_for('index') }}"><span>ArabicSign</span></a>
    </div>
    <div class="navbar-links">
      <a href="{{ url_for('translate') }}" class="nav-link">ترجم من هنا</a>

      <a href="{{ url_for('index') }}" class="nav-link"> HOME </a>
      <a href="{{ url_for('login') }}" class="btn btn-outline">تسجيل الدخول</a>
      <a href="{{ url_for('register') }}" class="btn btn-primary">إنشاء حساب</a>
    </div>
  </div>
</nav>
